# Virtual environment
venv/

# Environment variables
.env

# Django artifacts
db.sqlite3
__pycache__/
*.pyc
*.log

# Media & static build files
media/
staticfiles/

# Temporary audio files
temp_audio/

# Hackathon local folder (contains its own git)
HCL-GUVI/

# OS files
.DS_Store
Thumbs.db
